<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>WPB</title>
</head>
<body>


<header>
    <!-- Navbar-->
    <nav class="navbar navbar-expand-lg navbar-success bg-success py-2">
        <div class="container-fluid">
            <a class="navbar-brand">Working Place Booking</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link " th:href="@{/home}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/list}">User-list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/role/list}">Role-list</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>


<main>
    <!-- Showcase-->
    <section class="bg-success text-center text-light opacity-75 p-5 flex-grow-1">
        <div class="container">
            <!--    1. ROW subtitle -->
            <div class="row justify-content-center h2 mt-3 mb-4 text-warning">
                Neue Nutzer Ausfüllen
            </div>
            <!--    2.ROW new user formula -->
            <div class="row justify-content-evenly">

                <form class="col-md-7 col-lg-4" th:action="@{/user/create}" th:object="${user}" th:method="post">

                    <!--   this is interesting !-->
                    <input type="hidden" th:field="${user.id}" th:id="id"/>

                    <!-- 1. field username -->
                    <div class="mb-3 d-md-flex flex-md-column align-items-md-center">
                        <label for="username"
                               class="form-label pt-1 pb-1 px-3 bg-warning  border border-secondary rounded"
                               style="--bs-bg-opacity:.5"
                               th:text="Username">Username
                        </label>
                        <input type="text"
                               th:field="${user.userName}"
                               class="form-control border border-secondary rounded"
                               id="username"
                               th:placeholder="Username"
                        />
                    </div>


                    <!--                2. field first name-->
                    <div class="mb-3">
                        <label for="firstName"
                               class="form-label pt-1 pb-1 px-3 bg-warning  border border-secondary rounded"
                               style="--bs-bg-opacity:.5"
                               text="First Name">First Name
                        </label>
                        <input type="text"
                               th:field="${user.firstName}"
                               class="form-control border border-secondary rounded"
                               id="firstName"
                               placeholder="First Name"
                        />
                    </div>


                    <!-- 3. field the lastname -->
                    <div class="mb-3">
                        <label for="lastName"
                               class="form-label pt-1 pb-1 px-3 bg-warning  border border-secondary rounded"
                               style="--bs-bg-opacity:.5"
                               text="Last Name">Last Name
                        </label>
                        <input type="text"
                               th:field="${user.lastName}"
                               class="form-control border border-secondary rounded"
                               id="lastName"
                               placeholder="Last Name"
                        />
                    </div>

                    <!-- 4. field for the E-Mail-->
                    <div class="mb-3">
                        <label for="email"
                               class="form-label pt-1 pb-1 px-3 bg-warning  border border-secondary rounded"
                               style="--bs-bg-opacity:.5"
                               text="E-Mail">E-Mail
                        </label>
                        <input type="email"
                               th:field="${user.email}"
                               class="form-control border border-secondary rounded"
                               id="email"
                               placeholder="E-Mail"
                        />
                    </div>

                    <!-- 5. field for the password -->
                    <div class="mb-3">
                        <label for="password"
                               class="form-label pt-1 pb-1 px-3 bg-warning  border border-secondary rounded"
                               style="--bs-bg-opacity:.5"
                               th:text="${user.getPassword()}">
                        </label>
                        <input type="text"
                               th:field="${user.password}"
                               class="form-control border border-secondary rounded"
                               id="password"
                               placeholder="Password"
                        />
                    </div>


                    <button type="submit" class="btn btn-primary" id="submitButton">
                        Submit
                    </button>

                </form>
            </div>
        </div>
    </section>


    <!--   Role Formula  -->
    <div class=" row justify-content-center" th:if="${user.id != null}">

        <!-- form -->
        <form class="row justify-content-center my-5" th:action="@{'/user/' + ${user.id} + '/addRole'}" method="post">
            <!-- DropDown form to assign the role-->
            <label class="row justify-content-around">
                <select class="col-4 border border-secondary rounded" th:name="roleId">
                    <!-- add a default option-->
                    <option value="">Select a Role</option>
                    <!-- Iterate over the roles and generate options -->
                    <option th:each="role:${notAssignRoles}"
                            th:value="${role.id}"
                            th:text="${role.name}">
                    </option>
                </select>

                <button type="submit"
                        class="col-2 border border-secondary rounded btn btn-primary">
                    Add
                </button>
            </label>
        </form>

        <!-- Table -->
        <div class="col-10">
            <table class="table table-striped table-bordered text-center mt-5">
                <!-- Table with roles -->
                <thead class="table-group-divider">
                <tr class="text-center">
                    <th scope="col">Nr</th>
                    <th scope="col">Role</th>
                    <th scope="col">Description</th>
                    <th scope="col">Delete</th>
                </tr>
                </thead>

                <tbody class="table-group-divider ">
                <tr th:each="role,status:${user.getRoles()}">
                    <td th:text="${status.index + 1}">Nr.</td>
                    <td th:text="${role.name}">Name</td>
                    <td th:text="${role.description}">Description</td>
                    <td style="width: 10%;">
                        <!-- Add a form for each delete/change request in our server, with post request the parameters is not in the url  -->
                        <form th:action="@{'/user/'+${user.id}+'/deleteRole/'+ ${role.id}}" method="post">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
    </div>


    <!-- Added schnellecke image on the button before footer -->
    <section class="bg-success text-center text-light opacity-75 p-5 flex-grow-1">
        <div class="d-flex justify-content-center mt-5">
            <img class="img-fluid w-50 mt-5" style="max-width: 500px" th:src="@{/images/schnellecke.png}"
                 alt="Office image">
        </div>
    </section>
</main>


<!-- this is to full the gab between the main page and the footer -->
<section class="bg-success text-center text-light opacity-75 p-5 flex-grow-1">
</section>


<!-- footer -->
<footer class="bg-dark text-light text-center">
    <div class="container-fluid d-flex flex-wrap justify-content-between align-items-center p-2">
        <p class="m-0 myFooterText"><span>Designed & Built by <b>Triantafyllos Mylonas</b></span></p>
        <p class="m-0 myFooterText">&copy; 2022 Working Place Booking. All rights reserved.</p>
    </div>
</footer>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous">
</script>
</body>
<style>
    .myFooterText {
        font-size: 0.75rem; /* You can adjust this size as per your requirement. */
    }

    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }
</style>
</html>